<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpsc3770.easyinventory">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--android:theme="@style/AppTheme"-->

        <!--Add mobile vision dependencies and version to metadata-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name="cpsc3770.easyinventory.SplashScreen"
            android:label="Splash Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="cpsc3770.easyinventory.MainActivity"
            android:label="Main activity">

        </activity>

        <activity android:name="cpsc3770.easyinventory.ScanBarcodeActivity"
            android:label="Scan a QR Code">

        </activity>

        <activity android:name="cpsc3770.easyinventory.ConfirmationActivity"
            android:label="Confirmation">

        </activity>

        <activity android:name="cpsc3770.easyinventory.ViewItemActivity"
            android:label="View item">

        </activity>

    </application>
</manifest>
